<DOCTYPE! html>
    <html>
        <body>
            <form action="/saveFile" method="post">
              <input type="file" id="myFile" name="myFile" />
              <input id="submit" type="submit" value="submit">
            </form>
            {{!-- <form action="saveFile" id="saveFile" method="post">
              <input type="file" id="myFile" name="myFile"><br><br>
              <input id="submit" type="submit" value="submit">
            </form> --}}

            <p id="response"></p>

            <!-- <script src='renderer.js'></script> -->
          </body>
    </html>
</DOCTYPE>
